/*Импорт шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
  width: 80%;
  /* background-color: aqua; */
  font-size: 15px;
  margin:0;
  font-family:'Roboto', sans-serif;
  margin-left: 5em;


}
.conteiner {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  width: auto;
  background-color: rgb(243, 220, 174);
}
img {
  width: 80%;
}
h1, h2 {
  margin: unset;
  font-family: 'Caveat', cursive;
  color: rgb(104, 6, 196);
  text-align: center;
}
.header {
  box-sizing: border-box;
  padding-right: 1em;
  width: auto;
  position: relative;
}
/*фиксирует на экране полосу с названием*/
.header > .head  {
  box-sizing: border-box;
  left: 5em;
  width: 80%;
  height: 3em;
  position: fixed;
  text-align: center;
  border: 1px solid black;
  background-color: khaki;
  border-radius: 0.5em;
}
/*фиксирует полосу на экране в которой мы вставим пункты меню*/
.header > .nav  {
  display: flex;
  box-sizing: border-box;
  left: 5em;
  top: 3em;
  width: 80%;
  /* height: 6em; */
  position: fixed;
}
/*рисует в фиксированной полосе боксы по пункты меню*/
.header > .nav > .nav1  {
  float: right;
  box-sizing: border-box;
  top: 0;
  width: 25%;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  background-color: khaki;
  border-radius: 0.5em;
}
/* Кнопка выпадающего списка */
.dropbtn {
  width: 100%;
  height: 100%;
  background-color: khaki;
  font-size: 1em;
  border: none;
  border-radius: 2em;
}
/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.nav1 {
  position: relative;
  display: inline-block;
}  
/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: khaki;
  width: 101%;
  box-shadow: 1px 8px 16px 2px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 1em;
  border: 1px solid black;
  
}
/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  margin-top: 5px;
  color: black;
  padding: 1px 16px;
  text-decoration: none;
  display: block;
}  
/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  opacity: 0.3;
}
/* Показать выпадающее меню при наведении курсора */
.nav1:hover .dropdown-content {
  display: block;
}
/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.nav1:hover .dropbtn {
  opacity: 0.3;
}

h2 {
  text-align: center;
}
p {
  padding-left: 10px;
}
.text {
  padding-top: 110px;
}
.textfoto  p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 30px;
}
.foto {
  border-radius: 40px;
  box-shadow: 0px 0px 20px 20px red;
}
.mainfoto {
  display: block;
  text-align: center;
}


