/*Импорт шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');



body {
  font-size: 15px;
    font-family:'Roboto', sans-serif;
  margin: 0px;
}
.conteiner {
  width: 1000px;
  margin: auto;
  background-color: rgb(243, 220, 174);
}
img {
  width: 80%;
}
/*Название сайта двигается с экарном*/
.header {
  position: relative;
  width: inherit;
}
.header .box  {
  position: fixed;
  width: inherit;
  height: 3em;
  background-color: forestgreen;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 2px 3px black;
  margin-bottom: 5px;
}
h1 {
  margin: 0px;
  font-family: 'Caveat', cursive;
  color: blueviolet;
}
/*Меню двигается с экраном*/
.nav{
  width: inherit;
  position: relative;
}
.nav > div {
  
  position: fixed;
  top: 50px;
  float: left;
  box-sizing: border-box;
  width: 1000px;
  height: 50px;
  /* background: red; */
  /* box-shadow: 1px 2px 3px black; */
  /* border-radius: 5px; */
}
.nav > div > div {
  float: left;
  box-sizing: border-box;
  width: 25%;
  height: 50px;
  background: green;
  box-shadow: 1px 2px 3px black;
  border-radius: 5px;
  text-align: center;
}

/* .nav #nav1 {
  position: fixed;
  top: 50px;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  background: forestgreen;
  box-shadow: 1px 2px 3px black;
  border-radius: 5px;
}
.nav #nav2 {
  position: fixed;
  top: 50px;
  left: 50%;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  background: forestgreen;
  box-shadow: 1px 2px 3px black;
  border-radius: 5px;
} */
h2 {
  text-align: center;
}
p {
  padding-left: 10px;
}
.text {
  padding-top: 110px;
}
.textfoto  p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: 30px;
}
.foto {
  border-radius: 40px;
  box-shadow: 0px 0px 20px 20px red;
}
.mainfoto {
  display: block;
  text-align: center;
}


